.netrwhist
.vim/bundle
*.dcu
*.dsk
*.identcache
__history/
*.bdsproj.local
*.bdsgroup.local
Thumbs.db
ModelSupport/
*.swp
*~
*.bak
.DS_Store
*.zip
*.tar.gz
*.exe
*.bz2
.hg/
*.swf
*.db
*.sqlite3
vendor/
!vendor/gems/cache/
log/**/*
tmp/**/*
bin/*
.sass-cache/*
